
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}


body {
    background-color: var(--primari-white-color);
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*Шапка сайта*/

.header-line {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ECECEC;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.header-box {
    display: flex;
    align-items: center;
    
}

.header-nav {
    display: flex;
}

.header-logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
    }

.header-text-logo {
    color: black;
}



.header-list .header-site-link.current {
    color: var(--accent-color);
}

.header-list .current::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0px;
    bottom: 0px;
}

.header-site {
    position: relative;
}

.header-list {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 93px;
    padding: 0px;
}

.header-list .header-site + .header-site {
    margin-left: 50px;
}

.header-link-auth:hover,
.header-site-link:hover {
    color: var(--accent-color);
    fill: #2196F3;

}


.header-site-link:focus,
.header-link-auth:focus {
    color: var(--accent-color);
    fill: #2196F3;
}

.header-site-link {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.header-contact {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
}

.header-contact .header-site + .header-site {
    margin-left: 50px;
}

.header-mail-icon {
    margin-right: 10px; 
    fill: currentColor;
}

.header-tell-icon {
    margin-right: 10px;
    fill: currentColor;
}


.header-link-auth {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Герои*/
.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4) ) , 
    url(../img/Img.jpg);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero:hover {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--primari-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    border: none;
    min-width: 200px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}


/*Преимущества*/

.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-element-icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}



.benefits-list > .benefits-element + .benefits-element {
margin-left: 30px;
}




.benefits-list {
    margin-top: 0px;
    display: flex;
    padding-inline-start: 0px;
        
}



.benefits-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.benefits-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/*Примеры работ*/

.work {
    padding-bottom: 94px;
}

.work-title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    
}

.work-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 0px;
}

.work-list > .work-foto + .work-foto {
    margin-left: 30px;
}

.work-foto {
    position: relative;
}

.work-foto-title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    
}

.work-name-foto {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

.work-image {
    display: block;
}

/*Команда*/
.team {
    background-color: #F5F4FA;
    
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-list > .team-card + .team-card {
    margin-left: 30px;
}

.team-card {
    background-color: var(--primari-white-color);
    text-align: center;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    
}



.team-foto {
    display: block;
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 10px;
}

.team-position {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 16px;
    
}

.team-icon-list {
    display: flex;
    padding: 0px;
    margin: 0px 32px 0px 32px;
}

.team-icon-list .team-icon + .team-icon {
    margin-left: 10px;
}

.team-icon {
   
   
}

.team-link {
    display: flex;
    margin: 0px;
    background-color: #FFFFFF;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

.team-social-icon {
    display: flex;
    margin: 0px;
    padding: 0px;
}

/*Clients*/

.clients {
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients-tile {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;

}

.clients-list {
    display: flex;
    padding-inline-start:0px;
    margin-bottom: 0px;


}

.clients-element {
    display: flex;
    width: 170px;
    height: 92px;
    
}

.clients-list .clients-element + .clients-element {
    margin-left: 30px;
}

.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: #AFB1B8;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.clients-link:hover,
.clients-link:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    fill: #2196F3;
}

.clients-icon {
}

/*Футер*/
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;   
}

.footer-element {
    display: flex;
}

.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
}

.logo-footer {
    display: flex;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text-logo2 {
    color: #FFFFFF;
}

.addres{
font-style: inherit;
width: 231px;
}

.address-text {
    color: var(--primari-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.addres-link {
    padding-left: 0px;
    margin: 0px;
}

.link-mail {
   
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.link-tell {
    padding-top: 0px;
    margin-bottom: 0px;
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box {
    
    margin-left: 70px;
    padding-top: 18px;
    padding-bottom: 34px;
}

.Box-title {
    display: flex;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 20px;

    
}

.footer-list {
    display: flex;
    padding-inline-start: 0px;
      margin: 0px;    
}

.footer-list .footer-element +.footer-element {
    margin-left: 10px;
}

.box-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    fill: #ffffff;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-link:hover,
.box-link:focus {
    background-color: #2196F3;
}

.icon-box {
    fill: #ffffff;
}

.footer-subscription {
    margin-left: 93px;
    padding-top: 18px;
    padding-bottom: 34px;
    width: 570px;
}

.subscription-email input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.subscription-title {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;

}

.subscription-email {
    display: inline-flex;
}

.subscription-input {
    display: inline-flex;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    cursor: pointer;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.subscription-button {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    color: #ffffff;
    background: #2196F3;
    padding: 10px 28px 10px 29px;
    border-radius: 4px;
    border: none;
    margin-left: 12px;
}

.subscription-icon {
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

/*Портфолио фильтр*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
    padding-inline-start: 0px;
}

.filter button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    border: none;
    margin-bottom: 0px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter > .filter-button + .filter-button {
    margin-left: 8px;
}

.filter .current {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.filter button:hover,
.filter button:focus {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-all {
    min-width: 73px;
}

.button-site {
    min-width: 128px;
}

.button-app {
    min-width: 145px;
}

.button-desighn {
    min-width: 103px;
}

.button-marketing {
    min-width: 130px;
}

/*Сайты*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-inline-start: 0px;
    
}

.image-box {
    position: relative;
    overflow: hidden;
}


.image-box::before {
    content: '';
    display: flex;
    position: absolute;
    left: 0px;
    top: 294px;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:hover ::before,
.cards-item:hover .cards-content {
    
    transform: translateY(-294px);
}



.cards-content {
    position: absolute;
    width: 322px;
    height: 168px;
    left: 24px;
    top: 357px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
    margin: 0px;
}

.cards-item img {
    display: block;
}

.cards-item {
    
    margin-bottom: 30px;
    margin-right: 30px;
    transition-property: opacity, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}



.cards-item:hover {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}



.cards-item:nth-child(3n) {
    margin-right: 0px;
}

.cards-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.text-portfolio {
    padding: 20px 24px;
    
   
}

.name-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 4px;
}

.work-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

.border {
    width: 370px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}   

/*backdrop*/
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    transition-property: opacity, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position:relative;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    fill: #000000;
    
}

.icon-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
    fill: #188CE8;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.js-speaker-form {
}

.form {
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;
}

.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    
    margin-bottom: 10px;
    fill: #000000;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    

}

.form-input {
    display: flex;
    margin-top: 4px;
    padding: 12px 12px 12px 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;  
}


.form-input:focus,
.form-texterea:focus {
    outline: 1px solid #2196F3;
}

.icon-form {
    position: absolute;
    top: 28px;
    right: 12px;
    bottom: 11px;
    left: 12px;
}

.form-input:focus + .icon-form {
    fill: #2196F3;
}

.form-texterea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    cursor: pointer;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(117, 117, 117, 0.5);
}

.policy {
    display: flex;
    margin: 20px 0px 30px 0px;
}



.agree {
    display: flex;
    align-items: center;
    font-weight: 400;
     font-size: 14px;
    line-height: 1.71;
    color: #757575;
    padding-left: 12px;
}



.input-agree {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input-agree:checked + .icon-agree {
    background-color: #2196F3;
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: #2196F3;
}

.icon-agree {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-right: 7px;
}

.contract-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: underline;
    color: #2196F3;
    margin-left: 5px;
}

.button-form {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px 10px 56px;
    cursor: pointer;
    max-width: 200px;
    color: #FFFFFF;
    background: #188CE8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}